<form id="payment-form" class="form-horizontal details">
  <div class="user-controls">
    <div class="display-row">
      <div class="field">Payment Amount</div>
      <div class="value">
        {{input value=amount}}
        Enter {{currency}}
      </div>
    </div>
  </div>

  <div class="user-controls">
    <div class="display-row">
      <div class="field"></div>
      <div class="value">
        {{stripe-card
          amount=amount
          currency=currency
          stripePaymentHandler=stripePaymentHandler
        }}
      </div>
    </div>
  </div>
</form>
