

<div id="card-element"></div>

{{#d-button action="submitStripeCard" class="btn btn-primary btn-payment"}}
  {{i18n 'discourse_donations.confirm'}}<br>{{amount}}
{{/d-button}}

{{#if cardError}}
  <div class="popup-tip bad">
    {{cardError}}
  </div>
{{/if}}
